################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.idea/.idea.RefactorThis
/.vs
/bin
/Backup
/Properties
/obj
